out_data*
TODO
aclocal.m4
compile
config.*
configure
configure~
/cpn*
/multcan*
depcomp
INSTALL
install-sh
Makefile
Makefile.in
missing
stamp-h1
*.out

autom4te.cache

lib/.deps
lib/.dirstamp
lib/*.o

src/.deps
src/.dirstamp
src/*.o
